.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 2.4rem;
  max-width: 80rem;
}

.primary-heading {
  font-size: 6.2rem;
  margin-bottom: 2.4rem;
}

.highlight {
  color: var(--brand-color-primary);
}

.tag-line {
  font-size: 2.4rem;
  color: var(--text-color-secondary);
  margin-bottom: 3.2rem;
  line-height: 1.7;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.btn {
  padding: 1.6rem 3.2rem;
  font-size: 1.8rem;
  border-radius: 5px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-primary {
  background-color: var(--btn-background-primary);
  color: var(--background-color);
}

.btn-secondary {
  background-color: var(--btn-background-secondary);
  color: var(--text-color-primary);
  font-weight: 400;
}

.btn-primary:hover {
  background-color: var(--btn-background-primary-hover);
}

.btn-primary:focus {
  transform: translateY(0.5rem);
  box-shadow: var(--box-shadow);
}

.btn-secondary:hover {
  background-color: var(--btn-background-secondary-hover);
}

.btn-secondary:active {
  transform: translateY(0.5rem);
  box-shadow: var(--box-shadow);
}

.cta-form input {
  width: 100%;
  padding: 1.4rem;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: var(--faded-background);
  border-radius: 5px;
  border: 2px solid var(--brand-color-primary);
  color: inherit;
  margin-bottom: 3.2rem;
}

.disabled-button {
  cursor: not-allowed;
}
