.question_text {
  padding: 0 6.4rem;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  margin-bottom: 6.4rem;
}

.option {
  background-color: #f2f2f2;
  padding: 16px;
  color: #2a2c3e;
  font-size: 1.8rem;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.option:hover {
  cursor: pointer;
}
