table {
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

th,
td {
  padding: 16px 24px;
  text-align: left;
}

thead tr {
  background-color: var(--brand-color-primary);
  color: #fff;
}

thead th {
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: var(--btn-background-secondary);
}

tbody tr:nth-child(even) {
  background-color: var(--btn-background-secondary-hover);
}
