* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fdf2e9;
  font-family: 'Lato', sans-serif;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 80rem;
  background-color: #fff;
  margin: 4.8rem auto;
  padding: 4.8rem 0 4.8rem 0;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.15);
  animation: moveUp 1s ease-out;
}

.subheading {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  color: #ff8c0e;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.tertiary-heading {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}

/*Option*/

.btn--form {
  background-color: #4e8fea;
  color: white;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  transition: all 0.5s;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.btn--form:hover {
  background-color: #fff;
  color: #4e8fea;
  cursor: pointer;
  box-shadow: inset 0 0 0 3px #4e8fea;
}

.btn-secondary {
  background-color: #ff8c0e;
  margin-left: 1rem;
}

.btn-secondary:hover {
  background-color: #fff;
  color: #ff8c0e;
  cursor: pointer;
  box-shadow: inset 0 0 0 3px #ff8c0e;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
