@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  font-family: "Inter", sans-serif;
  --background-color: #ffffff;
  --brand-color-primary: #319795;
  --text-color-primary: #2d3748;
  --text-color-secondary: #718096;
  --btn-background-primary: #2c7a7b;
  --btn-background-primary-hover: #285e61;
  --btn-background-secondary: #edf2f7;
  --btn-background-secondary-hover: #e2e8f0;
  --box-shadow: rgba(0, 0, 0, 0.075);
  --border-color: #007afe;
  --correct-option: #96bdbd;
  --wrong-option: #e57373;
  --faded-background: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  color: var(--text-color-primary);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
